@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13.33%;
    --muted: 0 0% 93.33%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13.33%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13.33%;
    --border: 0 0% 93.33%;
    --input: 0 0% 93.33%;
    --primary: 150 50% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 93.33%;
    --secondary-foreground: 0 0% 13.33%;
    --accent: 0 0% 93.33%;
    --accent-foreground: 0 0% 13.33%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 150.26 50.22% 44.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6.67%;
    --foreground: 0 0% 93.33%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 73.33%;
    --popover: 0 0% 6.67%;
    --popover-foreground: 0 0% 93.33%;
    --card: 0 0% 6.67%;
    --card-foreground: 0 0% 93.33%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 150.24 50% 40%;
    --primary-foreground: 0 0% 93.33%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 93.33%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 93.33%;
    --ring: 150 50% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  a {
    @apply cursor-pointer;
  }
}

.squared-bg::before {
  --size: 68px;
  --line: hsl(0 0% 98% / 0.15);
  content: '';
  height: 100vh;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}
